node_modules
tmp
tests/tmp
dist
dist-test
__snapshots__
.idea
.DS_Store
public
!hamiltonian/public/
!hamiltonian/public/**
.firebase/*
*.sqlite*
*.db*
.meta-modcache
.quoder
.npmrc
**/.npmrc
old
.ai
.claude/
.ai/
**/Снимок экрана*.png
**/.metafor/**/*
pkg/visual/playground/.annotations/
pkg/visual/playground/.edge-examples/
/mass/
/cluster/
.tls/
