[submodule "github/zavx0z"]
	path = github/zavx0z
	url = https://github.com/zavx0z/metafor-git.git
	branch = main
[submodule "github/person"]
	path = github/person
	url = https://github.com/zavx0z/person.git
	branch = main