node_modules
tmp
tests/tmp
dist
dist-test
__snapshots__
.idea
.DS_Store
public
pkg/voice/recordings/
.firebase/*
*.sqlite*
*.db*
.meta-modcache
.quoder
.npmrc
old
.ai
app/web/tls
.claude/
.ai/
**/Снимок экрана*.png
task/*.png
**/.metafor/**/*
