:root {
  /* primary | #87ceeb */
  --primary-50: 237 248 252; /* ⬅ #edf8fc */
  --primary-100: 231 245 251; /* ⬅ #e7f5fb */
  --primary-200: 225 243 250; /* ⬅ #e1f3fa */
  --primary-300: 207 235 247; /* ⬅ #cfebf7 */
  --primary-400: 171 221 241; /* ⬅ #abddf1 */
  --primary-500: 135 206 235; /* ⬅ #87ceeb */
  --primary-600: 122 185 212; /* ⬅ #7ab9d4 */
  --primary-700: 101 155 176; /* ⬅ #659bb0 */
  --primary-800: 81 124 141; /* ⬅ #517c8d */
  --primary-900: 66 101 115; /* ⬅ #426573 */
  /* secondary | #47bd74 */
  --secondary-50: 227 245 234; /* ⬅ #e3f5ea */
  --secondary-100: 218 242 227; /* ⬅ #daf2e3 */
  --secondary-200: 209 239 220; /* ⬅ #d1efdc */
  --secondary-300: 181 229 199; /* ⬅ #b5e5c7 */
  --secondary-400: 126 209 158; /* ⬅ #7ed19e */
  --secondary-500: 71 189 116; /* ⬅ #47bd74 */
  --secondary-600: 64 170 104; /* ⬅ #40aa68 */
  --secondary-700: 53 142 87; /* ⬅ #358e57 */
  --secondary-800: 43 113 70; /* ⬅ #2b7146 */
  --secondary-900: 35 93 57; /* ⬅ #235d39 */
  /* tertiary | #BFC8D1 */
  --tertiary-50: 245 247 248; /* ⬅ #f5f7f8 */
  --tertiary-100: 242 244 246; /* ⬅ #f2f4f6 */
  --tertiary-200: 239 241 244; /* ⬅ #eff1f4 */
  --tertiary-300: 229 233 237; /* ⬅ #e5e9ed */
  --tertiary-400: 210 217 223; /* ⬅ #d2d9df */
  --tertiary-500: 191 200 209; /* ⬅ #BFC8D1 */
  --tertiary-600: 172 180 188; /* ⬅ #acb4bc */
  --tertiary-700: 143 150 157; /* ⬅ #8f969d */
  --tertiary-800: 115 120 125; /* ⬅ #73787d */
  --tertiary-900: 94 98 102; /* ⬅ #5e6266 */
  /* success | #9ED99D */
  --success-50: 240 249 240; /* ⬅ #f0f9f0 */
  --success-100: 236 247 235; /* ⬅ #ecf7eb */
  --success-200: 231 246 231; /* ⬅ #e7f6e7 */
  --success-300: 216 240 216; /* ⬅ #d8f0d8 */
  --success-400: 187 228 186; /* ⬅ #bbe4ba */
  --success-500: 158 217 157; /* ⬅ #9ED99D */
  --success-600: 142 195 141; /* ⬅ #8ec38d */
  --success-700: 119 163 118; /* ⬅ #77a376 */
  --success-800: 95 130 94; /* ⬅ #5f825e */
  --success-900: 77 106 77; /* ⬅ #4d6a4d */
  /* warning | #FFD175 */
  --warning-50: 255 248 234; /* ⬅ #fff8ea */
  --warning-100: 255 246 227; /* ⬅ #fff6e3 */
  --warning-200: 255 244 221; /* ⬅ #fff4dd */
  --warning-300: 255 237 200; /* ⬅ #ffedc8 */
  --warning-400: 255 223 158; /* ⬅ #ffdf9e */
  --warning-500: 255 209 117; /* ⬅ #FFD175 */
  --warning-600: 230 188 105; /* ⬅ #e6bc69 */
  --warning-700: 191 157 88; /* ⬅ #bf9d58 */
  --warning-800: 153 125 70; /* ⬅ #997d46 */
  --warning-900: 125 102 57; /* ⬅ #7d6639 */
  /* error | #FF8D8D */
  --error-50: 255 238 238; /* ⬅ #ffeeee */
  --error-100: 255 232 232; /* ⬅ #ffe8e8 */
  --error-200: 255 227 227; /* ⬅ #ffe3e3 */
  --error-300: 255 209 209; /* ⬅ #ffd1d1 */
  --error-400: 255 175 175; /* ⬅ #ffafaf */
  --error-500: 255 141 141; /* ⬅ #FF8D8D */
  --error-600: 230 127 127; /* ⬅ #e67f7f */
  --error-700: 191 106 106; /* ⬅ #bf6a6a */
  --error-800: 153 85 85; /* ⬅ #995555 */
  --error-900: 125 69 69; /* ⬅ #7d4545 */
  /* surface | градация от светлого к темному */
  --surface-50: 244 244 244; /* ⬅ #f4f4f4 */
  --surface-100: 228 228 228; /* ⬅ #e4e4e4 */
  --surface-200: 180 180 180; /* ⬅ #b4b4b4 */
  --surface-300: 136 136 136; /* ⬅ #888888 */
  --surface-400: 92 92 92; /* ⬅ #5c5c5c */
  --surface-500: 48 48 48; /* ⬅ #303030 базовый */
  --surface-600: 41 41 41; /* ⬅ #292929 */
  --surface-700: 34 34 34; /* ⬅ #222222 */
  --surface-800: 27 27 27; /* ⬅ #1b1b1b */
  --surface-900: 20 20 20; /* ⬅ #141414 */
  --surface-1000: 0 0 0; /* ⬅ #000000 */
  /*  */
  --backdrop-filter-blur: blur(22px);
  --background-alpha: 0.5;
}
