@import "./pallete.css";

.theme-dark,
.theme-light,
.theme-xr {
  transition: background-color 0.3s ease, color 0.3s ease;
}
*,
*::before,
*::after {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.theme-desktop {
  --font-color: rgb(var(--surface-50));
  --background-color: rgb(var(--surface-900));

  --window-background-color: rgb(var(--surface-800));
  --widget-background-color: rgb(var(--surface-700));
  --widget-color: rgb(var(--surface-400));

  --highlight-background-color: rgb(var(--surface-600));
  --highlight-color: rgb(var(--primary-400));
  --highlight-color-editor: rgb(var(--primary-500) / 0.2);
  html,
  body {
    background-color: transparent;
  }
}
.theme-dark,
.theme-xr {
  --font-color: rgb(var(--surface-50));
  --background-color: rgb(var(--surface-900));

  --window-background-color: rgb(var(--surface-800));
  --widget-background-color: rgb(var(--surface-700));
  --widget-color: rgb(var(--surface-400));

  --highlight-background-color: rgb(var(--surface-600));
  --highlight-color: rgb(var(--primary-400));
  --highlight-color-editor: rgb(var(--primary-500) / 0.2);
  html,
  body {
    background-color: rgb(var(--surface-900));
  }
}
.theme-xr {
  html,
  body {
    background-color: rgb(var(--surface-1000));
  }
}
.theme-light {
  color-scheme: light;

  --font-color: rgb(var(--surface-900));
  --background-color: rgb(var(--surface-50));
  --window-background-color: rgb(var(--surface-100));
  --widget-background-color: rgb(var(--surface-200));
  --widget-color: rgb(var(--surface-500));

  --highlight-background-color: rgb(var(--surface-300));
  --highlight-color: rgb(var(--primary-600));
  --highlight-color-editor: rgb(var(--primary-500) / 0.2);

  html,
  body {
    background-color: rgb(var(--surface-50));
  }
}
html,
body {
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  color: var(--font-color);
  font-family: sans-serif, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana;
  font-size: calc(1em * 0.875);
  line-height: 24px;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.backdrop {
  --glass-opacity: 0.1; /* интенсивность шумовой текстуры */
  --border-color: rgba(var(--surface-400));
  --shadow-size: 0.2;

  backdrop-filter: var(--backdrop-filter-blur);
  -webkit-backdrop-filter: var(--backdrop-filter-blur);
  -moz-backdrop-filter: var(--backdrop-filter-blur);
  -o-backdrop-filter: var(--backdrop-filter-blur);
  -ms-backdrop-filter: var(--backdrop-filter-blur);
  box-sizing: border-box;

  --shadow-color: rgba(var(--surface-300) / 0.8);

  .theme-dark &:before {
    --shadow-color: rgba(var(--surface-800) / 0.8);
  }
  &:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border: 1px solid var(--border-color);
    border-radius: inherit;
    pointer-events: none;
    z-index: -2;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 calc(var(--shadow-size) * 44px) calc(var(--shadow-size) * 4px) var(--shadow-color),
      0 0 calc(var(--shadow-size) * 7px) calc(var(--shadow-size) * 4px) var(--shadow-color);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='noise' x='0%' y='0%' width='100%' height='100%'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='4' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3CfeComponentTransfer%3E%3CfeFuncA type='linear' slope='0.15'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='white' filter='url(%23noise)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.1;
    border-radius: inherit;
    z-index: -1;
  }
}

.text {
  text-shadow: 2px 2px 4px rgb(var(--surface-900));
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
label,
input,
textarea,
button {
  text-shadow: 2px 2px 2px rgb(var(--surface-900));
}

/* Стили для кнопки */
button {
  /* Определяем переменные для цветов кнопки */
  --button-border-color: rgb(var(--surface-400));
  --background-color: rgb(var(--surface-500));
  --button-hover-background: rgb(var(--surface-400));
  --button-active-background: rgb(var(--surface-500));
  --button-disabled-background: rgb(var(--surface-800));
  /* height: 26px; */
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--font-color);
  color: rgba(var(--surface-50));
  cursor: pointer;
  font-size: inherit;
  transition: all 0.3s ease;
  

  &:hover {
    background-color: var(--button-hover-background);
    border-color: var(--button-border-color);
  }

  &:active {
    background-color: var(--button-active-background);
    border-color: var(--button-border-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--button-disabled-background);
    border-color: var(--button-border-color);
  }
}
